
.formulario-pokemon {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
    margin: 40px auto; 
  }
  
  h1 {
    text-align: center;
    color: #b5439e;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px; /* Espacio entre los elementos del formulario */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="text"]:focus {
    border-color: #4caf50; /* Color del borde al enfocar */
    outline: none; /* Sin contorno */
  }
  
  button {
    background-color: #a04caf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s; /* Transición al pasar el cursor */
  }
  
  button:hover {
    background-color: #45a049;
    transform: scale(1.05); /* Efecto de aumento al pasar el cursor */
  }
  

  .error {
    color: #d9534f; /* Color rojo para errores */
    margin-bottom: 15px; /* Espacio inferior */
    text-align: center;
  }
  
  p {
    text-align: center; /* Centrar mensajes de éxito */
    color: #333;
  }
  